$primary: #356b6d;
$secondary: #356b6d;
$light: #e0eff4;
$navbar-light-brand-hover-color: #000000;
$navbar-light-hover-color: #000000;
$navbar-dark-brand-hover-color: #000000;
$navbar-dark-hover-color: #000000;
$light-hover-color: #000000;
$hover-color: #000000;
$light-hover: #000000;

@import 'bootstrap/scss/bootstrap.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  display: inline-block
}

h1, p {
  font-family: "Lato Black", sans-serif;
  color: $primary;
  font-weight: bold;
}

a.nav-link {
  font-weight: bold;
  font-family: "Lato Black", sans-serif;
}

a.nav-link:hover {
  color: #000000;
}

a.nav-link.active {
  color: #264c4f;
}

a.nav-link.active:hover {
  color: #000000;
}

img.header-logo {
  margin-bottom: 5px;
}
